<div class="row">
    <div class="col-md-6 col-xs-6">
        <p class="lead warning" id="notice"><%= notice %></p>
    </div>
</div>


<div class="row">
    <% @parties.each do |party| %>
        <div class="col-md-2 col-xs-2 party" id="<%= party.id %>">
            <p class="text-center"><strong><%= party.name %></strong></p>
            <%= image_tag party.picture, class: 'img-responsive', alt: party.name %>
        </div>
    <% end %>
</div>

<hr>

<div class="row">
    <div class="col-md-5 col-xs-5">
        <button id="startGame" class="btn btn-success">
            <i class="fa fa-play"></i> Aloita peli
        </button>
        <button id="resetGame" class="btn btn-danger" disabled="disabled">
            <i class="fa fa-stop"></i> Nollaa peli
        </button>
        <div class="alert alert-danger">
            <p><strong>Aika</strong> <span class="timerValue">00:00</span></p>
        </div>
        <div id="score" data-points="0">0</div>
    </div>
    <div class="col-md-7 col-xs-7">
        <ul class="list-unstyled list-inline arvot">
        </ul>
    </div>
</div>

<!-- Modal for Game Over screen, hidden by default -->
<div class="modal fade" id="gameOver" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Onneksi olkoon!</h4>
            </div>
            <div class="modal-body">
                <p>Läpäisit haasteen!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Sulje</button>
            </div>
        </div>
    </div>
</div>
