<p class="lead warning" id="notice"><%= notice %></p>

<div class="row">
    <% @parties.each do |party| %>
        <div class="col-md-2 col-xs-2">
            <p><span class="center"><strong><%= party.name %></strong></span></p>
            <%= image_tag party.picture, class: 'img-responsive', alt: party.name %>
        </div>
    <% end %>
</div>
