<p id="notice"><%= notice %></p>
<table style="border: 1px solid black;">
  <thead>
    <tr>
      <% @parties.each do |party| %>
        <th>
          <center><%= party.name %></center>
          <br>
          <%= image_tag party.picture,  height: '150', width: '150' %>
        </th>
    <% end %>
    </tr>
  </thead>
  <tbody>
    <% @parties.each do |party| %>
      <td class="dragme" style="height: 200px;">Lorem ipsum</td>
    <% end %>
  </tbody>
</table>
